<!-- wp:template-part {"slug":"header","theme":"mercantile-2026","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"checkout-view","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull checkout-view" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

	<!-- wp:mercantile/checkout-header /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->
